.animation1 {
  position: relative;
  z-index: 0;
  overflow: hidden;

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .section {
    & > .container {
      position: relative;
      z-index: 2;
    }
  }
}

@media (max-width: 576px) {
  .animation1 {
    canvas {
      display: none;
    }
  }
}